.container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.leftContainer {
  padding: 1.2rem;
}

.image {
  border-radius: 12px;
  height: 72rem;
}

.rightContainer {
  width: 42rem;
  padding: 0 7.2rem;
}

.signUp {
  display: flex;
  flex-direction: column;
  gap: 5.2rem;
}

.mainTitle {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.subTitle {
  color: #868e96;
  font-size: 1.4rem;
}

.title {
  font-size: 3.2rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.input {
  color: #868e96;
  border-radius: 12px;
  border: 1px solid #868e96;
  padding: 1.8rem;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

.button {
  width: 100%;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  background-color: #339af0;
  padding: 1.2rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05rem;
  transition: all 0.2s;
}

.button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
